<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Number Search</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

        <h1>Number Search</h1>
    </header>
    <main>

        <section class="main__section">
            <div class="main__section__contener">
                <div>
                    <h2>Quantify</h2>
                    <input placeholder="Type Here" id="input">
                </div>
            </div>

            <div class="main__section__obj1">
                <h3>OBJ1</h3>
            </div>
        </section>

        <section class="main__items">
            <div class="items__div contener-scroll" id="items"> </div>

            <div class="main__items__obj2">
                <h4>OBJ2</h3>
            </div>

        </section>
    </main>

    <footer>

        <div>
            <p>&copy; Developed for José leandro</p>
        </div>
    </footer>

    <script src="/index.js"></script>
</body>

</html>